@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-ease-100{
    @apply transition-all ease-in-out duration-100
}

.transition-ease-150{
    @apply transition-all ease-in-out duration-150
}

.transition-ease-200{
    @apply transition-all ease-in-out duration-200
}

.transition-ease-300{
    @apply transition-all ease-in-out duration-300
}

.transition-ease-500{
    @apply transition-all ease-in-out duration-500
}

.transition-ease-out-100{
  @apply transition-all ease-out duration-100
}

.transition-ease-out-150{
  @apply transition-all ease-out duration-150
}

.transition-ease-out-200{
  @apply transition-all ease-out duration-200
}

.transition-ease-out-300{
  @apply transition-all ease-out duration-300
}

.transition-ease-out-500{
  @apply transition-all ease-out duration-500
}

.flex-center{
    @apply flex items-center justify-center
}

.text-gradient{
  @apply text-transparent bg-clip-text bg-gradient-to-r from-dark_secondary_gradient_start to-dark_secondary_gradient_end
}
