@tailwind base;
@tailwind components;
@tailwind utilities;

  /* quill */

  .ql-toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glassMorphism {
    background: rgba(242, 242, 242, 0.174);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
  }

  .btn-gradient {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(#9275b9ba, #556fcd88) 30;
    border-radius: 20px;
  }

    /* Scroll Bar */

  /* html {
  scrollbar-gutter: stable both-edges;
  } */

  ::-webkit-scrollbar-track {
    background-color: #5c5c5c;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #242424;
}

::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 50px;
}
